@{
    ViewData["Title"] = "ImageSave";
}

<h1>ImageSave</h1>

<form asp-controller="Home" asp-action="ImageSave" enctype="multipart/form-data">
    <input type="file" name="imageFile" />
    <button class="btn btn-primary" type="submit">Save</button>
</form>

