@model List<string>
@{
    ViewData["Title"] = "ImageShow";
}

<h1>ImageShow</h1>

@foreach (var imageName in Model)
{
    <div>
        <h3>@imageName</h3>
        <img src="~/images/@imageName" style="width:100px; height:100px; border:1px solid red;" />
    </div>
}

<form method="post" asp-action="ImageShow">
    <input type="text" name="name" />
    <button class="btn btn-danger" type="submit">Delete</button>
</form>
